<div class="container">
	<div class="jumbotron text-center">
		 <h1> <i class="fa fa-tags"></i> Add New Product </h1>
	</div>
</div>

<div class="container" ng-init="loadDefaults()">
	 <div class="alert alert-success" ng-show="addSuccess">
	  <strong>Success!</strong> New Product Added Successfully!
	</div> 
	
	<form ng-submit="addNewProduct( product )" method="POST" role="form">
		<div class="form-group">
			<label for="name"> Product Name : </label>
			<input type="text" name="name" id="name" class="form-control" ng-model="product.name">
		</div>
		<div class="form-group">
			<label for="name"> Choose categories to be assigned for this product : </label>
			
			<div class="categories">
				<div class="category" ng-repeat="category in categories" style="margin-left:10px;">
				   <label>
					 <input type="checkbox" name="categories" ng-model="category.selected" > <span style="font-weight:normal;">{{ category.name }}</span>
				   </label>
				 </div>
			</div>

		</div>
		<div class="form-group">
			<label for="SKU"> SKU ( should be unique ) : </label>
			<input type="text" name="SKU" id="SKU" class="form-control" ng-model="product.SKU">
		</div>
		<div class="form-group">
			<label for="price"> Product Price : </label>
			<input type="number" name="price" id="price" class="form-control" ng-model="product.price">
		</div>
		<div class="form-group">
			<label for="quantity"> Quantity (To be keeped in stock) : </label>
			<input type="number" name="quantity" id="quantity" class="form-control" ng-model="product.quantity">
		</div>
		<div class="form-group">
			<label for="enabled"> Enabled : </label>
			<input type="checkbox" name="enabled" id="enabled" ng-model="product.enabled" ng-true-value="1" ng-false-value="0">
		</div>
		<div class="form-group">
			<label for="description"> Description : </label>
			<textarea rows="5" columns="125" name="description" id="description" class="form-control" ng-model="product.description"></textarea>
		</div>
		<div class="form-group">
			<label for="short_description"> Short Description : </label>
			<textarea rows="5" columns="125" name="short_description" id="short_description" class="form-control" ng-model="product.short_description"></textarea>
		</div>
		
		
		<button type="submit" class="btn btn-default"> Submit </button>
		<a href="#products" class="pull-right">Go Back</a>
	</form>
</div>