<div class="container">
	<div class="jumbotron text-center">
		 <h1> <i class="fa fa-cogs"></i> {{ message }} </h1>
	</div>
</div>

<div class="container">
	<div class="alert alert-danger" ng-show="deletionSuccess">
	  <strong>{{ deleteCount }} </strong> Categorie(s) deleted successfully!
	</div>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th> <input type="checkbox" ng-model="selectAll" ng-click="checkAll()"  /> </th>
				<th> Category Name </th>
				<th> Active </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="category in categories">
				<td> <input type="checkbox" ng-model="category.selected" ng-click="checkIndividual( category )" /> </td>
				<td> {{ category.name }} </td>
				<td> {{ category.active }} </td>
				<td> <a href="#/categories/{{category.id}}"> <i class="fa fa-pencil-square-o"></i> </a> </td>
			 </tr>
		 </tbody>
	</table>
</div>
		
 <div class="container">
	<a class="btn btn-primary" href="#/categories/add-new">
		Add New Category
	</a>
	<button class="btn btn-danger" ng-disabled="!showDelete" ng-click="deleteCategories()"> <i class="fa fa-trash"></i> </button>
 </div>