<div class="container">
	<div class="jumbotron text-center">
		 <h1> <i class="fa fa-wrench"></i> {{ message }} </h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<!-- <h3> Page: {{ currentPage }}</h3> -->
		</div>
		<div class="col-xs-4">
			<!-- <label for="search">Search:</label>
			<input ng-model="q" id="search" class="form-control" placeholder="Filter text"> -->
		</div>
		<div class="col-xs-4">
			<label for="search"> items per page: </label>
			<input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
		</div>
	</div>
</div>

<div class="container">
	<table class="table table-stripped">
		<thead>
			<tr>
				<th> Product Name </th>
				<th> SKU </th>
				<th> Price </th>
				<th> Quantity </th>
				<th> Enabled </th>
				<th>  </th>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="product in productList | filter:q | itemsPerPage: pageSize" current-page="currentPage">
			<!-- <tr ng-repeat="product in productList"> -->
				<td> {{ product.name }} </td>
				<td> {{ product.SKU }} </td> 
				<td> {{ product.price }} </td>
				<td> {{ product.quantity }} </td>
				<td> {{ product.enabled }} </td>
				<td> <a class="btn btn-primary" href="#/products/edit-view-product/{{ product.id }}"> View </a> </td>
			 </tr>
		 </tbody>
	</table>
</div>
<div class="container">
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/admin/pages/dirPagination.tpl.html"></dir-pagination-controls>
	  </div>
</div>
<div class="container">
	<a class="btn btn-primary" href="#/products/add-new"> Add New Product</a>
	
</div>